In [3]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [4]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("D:\\AA\\Programming\\Data Science\\Python\\Maven\\Data Analysis With Python AND Pandas\\Pandas+Course+Resources\\Pandas Course Resources\\retail\\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [5]:
len(oil_array)

100

In [6]:
oil_series = pd.Series(oil_array , name = "oil_series" , dtype = "float64")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_series, Length: 100, dtype: float64

In [7]:
oil_series.astype("float64")

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_series, Length: 100, dtype: float64

In [8]:
print(f"oil_series name: {oil_series.name}")
print(f"oil_series values: {oil_series.values}")
print(f"oil_series index: {oil_series.index}")
print(f"oil_series data type: {oil_series.dtype}")

oil_series name: oil_series
oil_series values: [52.22 51.44 51.98 52.01 52.82 54.01 53.8  53.75 52.36 53.26 53.77 53.98
 51.95 50.82 52.19 53.01 52.36 52.45 51.12 51.39 52.33 52.77 52.38 52.14
 53.24 53.18 52.63 52.75 53.9  53.55 53.81 53.01 52.19 52.37 52.99 53.84
 52.96 53.21 53.11 53.41 53.41 54.02 53.61 54.48 53.99 54.04 54.   53.82
 52.63 53.33 53.19 52.68 49.83 48.75 48.05 47.95 47.24 48.34 48.3  48.34
 47.79 47.02 47.29 47.   47.3  47.02 48.36 49.47 50.3  50.54 50.25 50.99
 51.14 51.69 52.25 53.06 53.38 53.12 53.19 52.62 52.46 50.49 50.26 49.64
 48.9  49.22 49.22 48.96 49.31 48.83 47.65 47.79 45.55 46.23 46.46 45.84
 47.28 47.81 47.83 48.86]
oil_series index: RangeIndex(start=0, stop=100, step=1)
oil_series data type: float64

In [9]:
round(oil_series.mean(),2)

51.13

In [10]:
oil_series.dtype

dtype('float64')

In [11]:
oil_series_int = oil_series.astype("int32")
oil_series_int.mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [93]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"].iloc[1000:1100])
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [13]:
oil_series.index = dates

In [14]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [15]:
type(dates)

pandas.core.series.Series

In [16]:
dates_series = pd.Series(dates)
dates_series

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [17]:
first10 = oil_series.iloc[0:10]
first10

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
Name: oil_series, dtype: float64

In [18]:
first10.mean()

52.765

In [19]:
last10 = oil_series.iloc[-10:]
last10

date
2017-05-02    47.65
2017-05-03    47.79
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, dtype: float64

In [20]:
last10.mean()

47.13

In [21]:
oil_series.loc["2017-01-01":"2017-01-07"].reset_index()

         date  oil_series
0  2017-01-03       52.36
1  2017-01-04       53.26
2  2017-01-05       53.77
3  2017-01-06       53.98

In [22]:
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop = True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_series, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [23]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [24]:
oil_series.sort_values()

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
              ...
2017-02-28    54.00
2016-12-28    54.01
2017-02-21    54.02
2017-02-27    54.04
2017-02-23    54.48
Name: oil_series, Length: 100, dtype: float64

In [25]:
oil_series.sort_values().iloc[0:10]

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: oil_series, dtype: float64

In [26]:
price10 = oil_series.sort_values().iloc[0:10].sort_index(ascending = False)
price10

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_series, dtype: float64

In [27]:
mask = price10 < 50
price10[mask]

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_series, dtype: float64

In [28]:
price10.le(50) & price10.index.isin(dates)

date
2017-05-10    False
2017-05-09    False
2017-05-08    False
2017-05-05    False
2017-05-04    False
2017-03-27    False
2017-03-23    False
2017-03-22    False
2017-03-21     True
2017-03-14    False
Name: oil_series, dtype: bool

In [29]:
oil_series[oil_series.le(50) & oil_series.index.isin(dates)]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_series, dtype: float64

In [30]:
"2017-05-03" in dates

True


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [31]:
increased_oil_price = oil_series.multiply(1.10).add(2)
increased_oil_price

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_series, Length: 100, dtype: float64

In [32]:
max_price = oil_series.max()

In [33]:
max_diff_price = round((oil_series.sub(max_price)/ max_price).mul(100),2) 
max_diff_price

date
2016-12-20    -4.15
2016-12-21    -5.58
2016-12-22    -4.59
2016-12-23    -4.53
2016-12-27    -3.05
              ...
2017-05-09   -15.86
2017-05-10   -13.22
2017-05-11   -12.24
2017-05-12   -12.21
2017-05-15   -10.32
Name: oil_series, Length: 100, dtype: float64

In [34]:
(oil_series - max_price) /max_price

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_series, Length: 100, dtype: float64

In [35]:
month = max_diff_price.index.str[5:7].astype("int")
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [36]:
month_ser = pd.Series(month)
month_ser

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

In [37]:
oil_series.index = month_ser
filtered_march = oil_series[oil_series.index.isin([3])]
filtered_march

date
3    53.82
3    52.63
3    53.33
3    53.19
3    52.68
3    49.83
3    48.75
3    48.05
3    47.95
3    47.24
3    48.34
3    48.30
3    48.34
3    47.79
3    47.02
3    47.29
3    47.00
3    47.30
3    47.02
3    48.36
3    49.47
3    50.30
3    50.54
Name: oil_series, dtype: float64

In [38]:
mean_march = filtered_march.mean().round(2)
mean_march

49.33

In [39]:
sum_march = filtered_march.sum().round(2)
sum_march

1134.54

In [40]:
rec_price = oil_series.index.isin([1,2])
oil_series[rec_price].count()

39

In [41]:
percen_10 = oil_series.quantile(0.1 , interpolation = "nearest")
percen_10

47.3

In [42]:
percen_90 = oil_series.quantile(0.9 , interpolation = "nearest")
percen_90

53.81

In [43]:
per_10_90 = oil_series.quantile([0.1 , 0.9] , interpolation = "nearest")
per_10_90

0.1    47.30
0.9    53.81
Name: oil_series, dtype: float64

In [44]:
c51 = oil_series.value_counts() == 51
c52 = oil_series.value_counts() == 52
c51.count() + c52.count()

180

In [45]:
oil_series.astype("int").value_counts(normalize = False)

oil_series
53    26
52    22
47    13
48    10
51     7
50     7
49     6
54     5
45     2
46     2
Name: count, dtype: int64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [91]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

In [47]:
oil_series

date
12    52.22
12      NaN
12    51.98
12    52.01
12    52.82
      ...
5     45.84
5     47.28
5     47.81
5       NaN
5     48.86
Name: oil_series, Length: 100, dtype: float64

In [58]:
oil_series.isna()

date
12    False
12     True
12    False
12    False
12    False
      ...
5     False
5     False
5     False
5      True
5     False
Name: oil_series, Length: 100, dtype: bool

In [52]:
oil_series.isna().sum()

2

In [54]:
oil_series.value_counts()

oil_series
53.19    2
52.36    2
49.22    2
53.01    2
52.19    2
        ..
52.99    1
52.37    1
53.81    1
53.55    1
48.86    1
Name: count, Length: 88, dtype: int64

In [55]:
oil_series.value_counts(dropna = False)

oil_series
49.22    2
52.36    2
53.41    2
53.01    2
52.19    2
        ..
52.37    1
53.81    1
53.55    1
53.90    1
48.86    1
Name: count, Length: 89, dtype: int64

In [57]:
oil_series[oil_series == np.nan]

Series([], Name: oil_series, dtype: float64)

In [60]:
oil_series.isna().sum()

2

In [61]:
oil_series.fillna(oil_series.median())

date
12    52.220
12    52.205
12    51.980
12    52.010
12    52.820
       ...
5     45.840
5     47.280
5     47.810
5     52.205
5     48.860
Name: oil_series, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [139]:
def decision(price):
    if price < oil_series.quantile(0.9):
        return "Buy"
    else: return("Wait")

In [140]:
oil_series.index = dates
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [98]:
oil_series.apply(lambda x: "Buy" if x < oil_series.quantile(0.9) else "Wait")

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_series, Length: 100, dtype: object

In [94]:
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [137]:
oil_series.where(~ oil_series.index.isin(["2016-12-23" , "2017-05-10"]) , oil_series * 0.9).where(oil_series.index.isin(["2016-12-23" , "2017-05-10"]) , oil_series * 1.1)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: oil_series, Length: 100, dtype: float64

In [125]:
oil_series.loc[['2017-05-10' ,'2016-12-23']]

date
2017-05-10    47.28
2016-12-23    52.01
Name: oil_series, dtype: float64

In [142]:
df = pd.DataFrame(oil_series)
df

            oil_series
date
2016-12-20       52.22
2016-12-21         NaN
2016-12-22       51.98
2016-12-23       52.01
2016-12-27       52.82
...                ...
2017-05-09       45.84
2017-05-10       47.28
2017-05-11       47.81
2017-05-12         NaN
2017-05-15       48.86

[100 rows x 1 columns]