In [3]:
import pandas as pd

# Assignment 1: Streamlined Data Ingestion

Now that we have a good idea of what we want the data prep on transactions looks like,
let's push that to the read_csv function. 

Keep an eye on the memory usage before and after. 

* Change the column names to 'Date', 'Store_Number', and 'Transaction_Count'.
* Skip the first row of data.
* Convert columns to the appropriate datatypes. 

Then create the columns we created in the assign assignment in Section 3, by chaining assign with read_csv. 

Some starter code has been provided for you below. Because the dataframe object returned by read_csv doesn't have a name, we need to use a lambda function to refer to the dataframe.

`transactions.assign(
    target_pct=transactions["transactions"] / 2500,
    met_target=(transactions["transactions"] / 2500) >= 1,
    bonus_payable=((transactions["transactions"] / 2500) >= 1) * 100,
    month=transactions["date"].dt.month,
    day_of_week=transactions["date"].dt.dayofweek,
)`

The first one should look like:

`target_pct = lambda x: (x["Transaction_Count"] / 2500)`

In [74]:
# expand on the code below...
address = "D:/AA/Programming/Data Science/Maven-Analytics/Python/Data Analysis With Python AND Pandas/Pandas+Course+Resources/Pandas Course Resources/retail/transactions.csv"
columns_name = ["Date" , "Store_Number" , "Transaction_Count"]
transaction = pd.read_csv(address , 
                          header = 0 , names = columns_name , 
                          skiprows = 0 , 
                          infer_datetime_format= True , 
                          parse_dates = ["Date"] , 
                          dtype = ({"Store_Number" : "int8" , 
                                    "Transaction_Count" : "Int16"})).assign(
    Target_pct = transaction["Transaction_Count"] / 2500 , 
    Met_Target = (transaction["Transaction_Count"] / 2500) >= 1,
    Bonus_Payable = ((transaction["Transaction_Count"] / 2500) >= 1) * 100,     
    Month = transaction["Date"].dt.month,     
    Day_of_Week = transaction["Date"].dt.dayofweek).astype({
    "Target_pct" : "float16" , 
    #"Bonus_Payable" : "Int16" , 
    "Month" : "Int8",
    "Day_of_Week" : "int8"})
                                    #"Date" : "pd.to_datetime(transaction['Date'])"}))

C:\Users\ahmad\AppData\Local\Temp\ipykernel_21052\3167414705.py:4: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  transaction = pd.read_csv(address ,

In [71]:
transaction.head()

,Date,Store_Number,Transaction_Count,Target_pct,Met_Target,Bonus_Payable,Month,Day_of_Week
0,2013-01-01,25,770,0.308105,False,0,1,1
1,2013-01-02,1,2111,0.844238,False,0,1,2
2,2013-01-02,2,2358,0.943359,False,0,1,2
3,2013-01-02,3,3487,1.394531,True,100,1,2
4,2013-01-02,4,1922,0.769043,False,0,1,2

In [72]:
transaction.describe().loc[["min" , "max"]]

,Date,Store_Number,Transaction_Count,Target_pct,Bonus_Payable,Month,Day_of_Week
min,2013-01-01 00:00:00,1.0,5.0,0.002001,0.0,1.0,0.0
max,2017-08-15 00:00:00,54.0,8359.0,3.343750,100.0,12.0,6.0

In [75]:
transaction.info(memory_usage= "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               83488 non-null  datetime64[ns]
 1   Store_Number       83488 non-null  int8
 2   Transaction_Count  83488 non-null  Int16
 3   Target_pct         83488 non-null  float16
 4   Met_Target         83488 non-null  boolean
 5   Bonus_Payable      83488 non-null  Int32
 6   Month              83488 non-null  Int8
 7   Day_of_Week        83488 non-null  int8
dtypes: Int16(1), Int32(1), Int8(1), boolean(1), datetime64[ns](1), float16(1), int8(2)
memory usage: 1.9 MB

In [43]:
transaction.head()

        Date  Store_Number  Transaction_Count
0 2013-01-01            25                770
1 2013-01-02             1               2111
2 2013-01-02             2               2358
3 2013-01-02             3               3487
4 2013-01-02             4               1922

# Assignment 2: Write to Excel Sheets

Write the data in the transactions dataframe you created above into an Excel workbook.

Write out a separate sheet for each year of the data.

If you prefer, you can write each year of data to a separate csv file.

In [104]:
YEARS = transaction.Date.dt.year.unique()
# [2013, 2014, 2015, 2016, 2017]
with pd.ExcelWriter("DataForChandler.xlsx") as writer:
    for years in YEARS:
        transaction.loc[transaction.Date.dt.year == years].to_excel(writer , sheet_name = str(years))

In [102]:
transaction.Date.dt.year.unique

<bound method Series.unique of 0        2013
1        2013
2        2013
3        2013
4        2013
         ...
83483    2017
83484    2017
83485    2017
83486    2017
83487    2017
Name: Date, Length: 83488, dtype: int32>

In [103]:
transaction.Date.dt.year.unique()

array([2013, 2014, 2015, 2016, 2017])

In [105]:
pd.read_excel("DataForChandler.xlsx")

,Unnamed: 0,Date,Store_Number,Transaction_Count,Target_pct,Met_Target,Bonus_Payable,Month,Day_of_Week
0,0,2013-01-01,25,770,0.308105,False,0,1,1
1,1,2013-01-02,1,2111,0.844238,False,0,1,2
2,2,2013-01-02,2,2358,0.943359,False,0,1,2
3,3,2013-01-02,3,3487,1.394531,True,100,1,2
4,4,2013-01-02,4,1922,0.769043,False,0,1,2
...,...,...,...,...,...,...,...,...,...
16903,16903,2013-12-31,48,4728,1.891602,True,100,12,1
16904,16904,2013-12-31,49,3132,1.252930,True,100,12,1
16905,16905,2013-12-31,50,2889,1.155273,True,100,12,1
16906,16906,2013-12-31,51,2604,1.041992,True,100,12,1
16907,16907,2013-12-31,54,1393,0.557129,False,0,12,1